.App {
  font-family: sans-serif;
  color: green;
}

.coupon-bar img {
  height: 60vh;

  width: 100%;
  margin-bottom: 2rem;
}

.navbar {
  height: 20vh;

  width: 100%;
  gap: 20px;

  margin-bottom: 4rem;
}

.navbar Link {
  margin-left: 20px;
}

.main-container {
  height: auto;

  width: auto;
  display: flex;
  gap: 1rem;
  background-color: black;
}
.main-container div {
  height: auto;

  width: 20vh;

  display: block;
  margin: auto;
  margin-top: 5rem;
}
div li {
  list-style: none;
}
h4 {
  text-align: center;
  color: white;
  cursor: pointer;
}
div li {
  text-align: center;
  color: pink;
  cursor: pointer;
  text-decoration: none;
}

li:hover {
  color: aqua;
}

img {
  cursor: pointer;
  /* color:burlywood */
}

.login-page {
  margin-bottom: 2rem;
}

.login-page input {
  display: block;
  margin-bottom: 2rem;
}
body {
  background-color: rgba(201, 243, 227, 0.925);
}
